.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  border: 1px solid #0d6efd;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.App-button-groups {
  display: flex;
  padding: 4px;
  min-width: 50vw;
  justify-content: space-between;
}

.App-main-content {
  padding: 32px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-button {
  margin: 8px;
}
