.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-card {
  border: 1px solid #0d6efd;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}


